@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #3F6FA1;
  --navy2: #1F304C;
  --accent: #8F949C; 
}
body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial; }
